streamlit>=1.59.2
langchain_community
pypdf
langchain-google-genai
langchain_postgres
unstructured
unstructured_inference
# Use headless version to avoid OpenGL issues on Streamlit Cloud
opencv-python-headless
pdfminer.six
pypandoc
pillow